# Ignore all PDF files
*.pdf

# Ignore datasets / large files folder (optional)
data/
models/
embeddings/
faiss_index/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Logs & temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/